

.circulos{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    z-index: -1;
}

.circulo{
    width: 20%;
    position: absolute;
    /* filter: blur(2em); */
    
}

.circulo1{
    left: 15em;
    top: 0;
    color: black;
    animation: circle1 20s infinite;
    
}

.circulo2{
    top: 0;
    right: 0;    
    color: green;
    animation: circulo 5s ease infinite both;
    display: none;
    
}
.circulo3{
    left:0;
    bottom: 0;
    color: purple;
    animation: circulo 8s ease infinite both;
    display: none;
 
}
.circulo4{
    display: none;
    right: 0;
    bottom: 0;
    color: rgb(47, 0, 255);
    animation: circulo 10s ease infinite both;
    
}

@keyframes circulo {
    from{
        transform:rotate(0deg) scale(2);
    }
    to{
        transform:rotate(360deg) scale(2);
    }
    
}

@keyframes circle1 {
    0%{
        transform: translateY(0%);
        transform:rotate(0deg) scale(2);
        
        
        
    }
    25%{
        transform: translateY(100%);
        transform:rotate(90deg) scale(2);
        
    }
 
    50%{
        transform: translateX(100%) translateY(100%);
        transform:rotate(180deg) scale(2);
        
        
    }

    75% {
        transform: translateX(100%) translateY(0%);
        transform:rotate(270deg) scale(2);
        
        
    }

    100%{
        transform: translateX(0%) translateY(0%);
        transform:rotate(360deg) scale(2);
        
        
    } 
}


/* .circulos .circulo1 .path{
    fill:black;
}
.circulos .circulo2 .path{
    fill:green;
}
.circulos .circulo3 .path{
    fill:orange;
}
.circulos .circulo4 .path{
    fill:purple;
} */


.header{
    width: 90%;
    min-height: 2em;
    background-color: rgba(243, 243, 243, 0.2);
    border-radius: 1em;
    padding: 0em 2em;
    position: fixed;
    margin: 1em auto;
    left: 0;
    right: 0;
    

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter:blur(15px) ;
    backdrop-filter:blur(15px) ;
    
}
.header .img{
    border-radius: 50%;
    width: 6em;
}
.header .nav{
    
}

.header .ul{
    display: flex;
    flex-flow: row wrap;
    
}
.header .li{
    margin: 0 1em;
    cursor: pointer;
    border-radius: 10px;
}
.header .li .a{
    font-size: 20px;
    padding: 33px;
    
}


.header .li:hover{
    transform: scale(1.2);
    color: aqua;
}


.section{
    width: 100%;
    min-height: 100vh;
    /* background-color: brown; */
    border-bottom: 1px solid white;
    padding-top: 7em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}




.section .img_inicio {
    width: 15em;
   
    border-radius: 1em;
    box-shadow: 7px 7px 7px 2px black;
}
.section .img_inicio:hover {
    transform: scale(1.1) ;
    
    animation: agrandar_foto .7s ease;
}

@keyframes agrandar_foto {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    
}
.section .h1{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--tipo-principal);
    font-size: 4em;
    font-weight: 500;
    margin-top: 10px;
}
.section .h2{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--tipo-principal);
    font-size: 3em;
    font-style: italic;

}



.proyectos{

}