

.circulos{
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top:0;
    left:0;
    background-color: aqua;
    z-index: 0;

}

.circulo1{
    width: 10em;
    left: 10em;
    top: 10em;
}
.circulo2{
    width: 10em;
    right: 10em;
    top:10em;
}
.circulo3{
    width: 10em;
    left: 10em;
    bottom: 10em;
}
.circulo4{
    width: 10em;
    right: 10em;
    bottom: 10em;
}


.header{
    width: 90%;
    min-height: 2em;
    background-color: rgba(243, 243, 243, 0.2);
    border-radius: 1em;
    padding: 0em 2em;
    position: fixed;
    margin: 1em auto;
    left: 0;
    right: 0;
    

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter:blur(15px) ;
    backdrop-filter:blur(15px) ;
    
}
.header .img{
    border-radius: 50%;
    width: 6em;
}
.header .nav{
    
}

.header .ul{
    display: flex;
    flex-flow: row wrap;
}
.header .li{
    margin: 0 1em;
}
.header .li .a{}


.section{
    width: 100%;
    min-height: 100vh;
    background-color: brown;
    border-bottom: 1px solid white;
    padding-top: 7em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}




.section .img_inicio {
    width: 15em;
   
    border-radius: 1em;
    box-shadow: 7px 7px 7px 2px black;
}

.section .h1{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--tipo-principal);
    font-size: 4em;
    font-weight: 500;
    margin-top: 10px;
}
.section .h2{
    text-align: center;
    text-transform: uppercase;
    font-family: var(--tipo-principal);
    font-size: 3em;
    font-style: italic;

}